<% if can? :read, ExternalFile%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @external_file.url %>
</p>

<%= link_to 'Edit', edit_external_file_path(@external_file) %> |
<%= link_to 'Back', external_files_path %>
<% else %>
    <script type="text/javascript">
        window.location.href="/"  // put your correct path in a string here
  </script>
<% end %>
