// Place all the styles related to the pqrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.buttonSubmit{
    color:white;
}

.buttonSubmit:visited{
    color:white;
}

.buttonSubmit:hover{
    background-color: #A41919 !important;
}